*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    overflow-wrap: break-word;
}

:root {
    /*background slightly offwhite, the lightest one*/
    --offWhite: #EDE3D1;

    /*darker than first offWhite but still very light*/
    --off2: #E8D1A2;


    --litebrown-navbar: #E8B56F;
    --lightYellow: #F2C050;
    --yellow1: #EDB12F;
    --paperBag: #B57828;
    --darkorng: #A3620B;
    --darkest: #3B2600;

    --darkestTransparent: #3B2600D0;
}

.outfit-dusty {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

body,
html {
    background-color: var(--offWhite);
    font-size: 1.18rem;
    padding: 0;
    margin: 0;
    color: var(--darkest);
}

body {
    min-height: 100vh;
}

.darkMode {
    background-color: black;
}


nav {
    background-color: var(--litebrown-navbar);
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid var(--paperBag);
    padding: 1rem 2rem;
    position: relative;

    & h1 {
        &:hover {
            cursor: pointer;
            padding: 1%;
            text-decoration: underline;
        }
    }

}

nav ul li {
    text-decoration: underline;
}

nav .navlinks {
    position: absolute;
    right: 0.9rem;
    display: flex;
    gap: 1.5vw;

    li {
        list-style: none;

        &:hover {
            padding: 5px;
            background-color: var(--darkest);
            color: var(--litebrown-navbar);
            cursor: pointer;
        }
    }
}

.content {
    padding: 2rem 22vw;
}

.mainContainer {
    margin-top: 2rem;
    background-color: var(--off2);
    min-height: 23rem;
    border: 2px solid var(--darkorng);
    border-radius: 1rem;
    padding: 1rem 10%;
}

.mainContainer h3 {
    margin: 1rem 0 0 0;
}

.mainContainer h2 {
    text-align: center;
    font-weight: 200;
}

.mainContainer p {
    margin: 1.2rem 4rem;
    font-size: 1rem;
}

.projCont {
    margin: 1rem 0 0 0;
    padding: 5px;
    background-color: var(--litebrown-navbar);
    border: 1.8px solid var(--darkorng);
    border-radius: 0.4rem;
    cursor: pointer;
}

.projCont h5 {
    font-size: 1.1rem;
}

.projCont ul {
    font-size: 1rem;
}

.btnDiv {
    display: flex;
    justify-content: flex-end;
    padding: 0.4rem 1rem 0.5rem 0;
}


.deleteProjBtn {
    font-size: 70%;
}

.minorTextHome {
    font-size: 80%;
    color: var(--darkorng);
    margin-left: 2em;
}


/*Project page*/

.mainContainerProj {
    margin-top: 1.1rem;
    background-color: var(--yellow1);
    min-height: 25rem;
    border: 1.8px solid var(--paperBag);
    border-radius: 1rem;
    padding: 2rem 3rem;
}

.mainContainerProj h2 {
    text-align: center;
    font-weight: 600;
    font-style: italic;
}

.mainContainerProj h3 {
    margin-top: 1.6rem;
    text-align: center;
    font-weight: 600;
}

.mainContainerProj p {
    margin: 1.2rem 4rem;
    font-size: 1rem;
}

.listedTodos {
    h4 {
        text-align: center;
        color: saddlebrown;
    }

    white-space: wrap;
    text-overflow: ellipsis;
    margin: 1rem 0rem 0 0;
    background-color: var(--lightYellow);
    border: 2px solid var(--darkorng);
    padding: 1.1rem 1.6rem;
}

.listedTodos h5 {
    font-size: 1.3rem;
}

.minorTextProj {
    display: block;
    font-size: 80%;
    color: var(--darkorng);
    margin-bottom: 1rem;
}

.listedTodos ul {
    font-size: 1rem;
}


input,
textarea {
    all: unset;
    box-sizing: border-box;
    font-size: 1rem;
    background-color: var(--offWhite);
    border: 1.8px solid var(--darkorng);
    color: black;
    font-weight: 100;
    padding: 0.3rem 0.5rem 0.3rem;
    margin: 0.7rem 0;
    max-width: 100%;
}

textarea {
    width: 100%;
}

input.todoTextbox {
    max-width: 100%;
}

.listedTodos label,
option {
    font-size: 1rem;
    font-family: "Outfit", sans-serif;
}

.listedTodos.addTodoForm textarea {
    max-width: 100%;
    padding: 0 7% 0 inherit;
}

.listedTodos select {
    font-family: inherit;
    font-size: 1rem;
    background-color: var(--offWhite);
    border: 2.5px solid var(--darkorng);
    color: black;
    font-weight: 100;
    padding: 0.3rem 0 0.3rem 0.5rem;
    margin: 0.7rem 0;
}

.listedTodos .formBtns {
    /*border to help with designing*/
    /* border: 2.5px solid blue; */
    margin: 4% 0 0 0%;
    display: flex;
    justify-content: flex-end;
    gap: 0.4rem;
    max-width: 100%;

}

button {
    all: unset;
    font-size: 1rem;
    padding: 0.2rem;
    margin: 2% 1% 0 0;
    cursor: pointer;
    border: 1px solid var(--darkorng);

    &:hover {
        background-color: var(--paperBag);
    }

    &.completeBtn {
        color: darkgreen;
    }

    &.incompleteBtn {
        color: darkred;
    }

    &.editTodoBtn {
        color: #b35300;
    }

    &.deleteBtn {
        color: darkslategrey;
    }

    &.saveEdit {
        color: green;
    }

    &.cancelEdit {
        color: darkslategray;
    }
}

.addTodoForm {
    display: none;
}

.createProjForm {
    display: none;
    padding: 1.6% 4%;
}

.editTodoForm {
    opacity: 1;
}

/* the popup's parent that darkens the screen */
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: rgb(0 0 0 / 0.5); */
    background: var(--darkestTransparent);
    justify-content: center;
    align-items: center;
    padding: 0 20rem;
}

.overlay.show {
    display: flex;
}

.addTodoForm.show {
    display: block;
}

.createProjForm.show {
    display: block;
}

@media (max-width: 890px) {

    nav h1 {
        font-size: 1.7rem;
    }

    nav {
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
        position: static;
    }

    nav .navlinks {
        flex-direction: column;
        position: static;
        padding: 0;
    }

    .mainContainerProj p {
        margin: 1.2rem 0.2rem;
        font-size: 1rem;
    }

    select {
        display: block;
    }

    .listedTodos .formBtns {
        gap: 0.07%;
        justify-content: center;
    }

    .minorTextProj {
        /* display: inline-block; */
        /* max-width: 100%; */
        font-size: 78%;
    }
}

@media (max-width: 780px) {

    .mainContainer {
        padding: 6% 3%;
    }

    .mainContainer h2 {
        font-size: 1.2em;
        font-weight: 500;
    }


    .content {
        padding: 2% 6%;
    }


    .mainContainer p {
        margin: 1.2rem 0.1rem;
        font-size: 1rem;
    }

    .overlay {
        padding: 0 50%;
    }
}

@media (max-width: 400px) {
    .mainContainerProj {
        padding: 5% 3%;
    }

}
