*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

:root {
    /*background offwhite, the lightest one*/
    --offWhite: #EDE3D1;

    /*darker than first offWhite but still very light*/
    --off2: #E8D1A2;


    --litebrown-navbar: #E8B56F;
    --lightYellow: #F2C050;
    --yellow1: #EDB12F;
    --paperBag: #B57828;
    --darkorng: #A3620B;
    --darkest: #3B2600;
}

.outfit-dusty {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

body,
html {
    background-color: var(--offWhite);
    font-size: 1.18rem;
    padding: 0;
    margin: 0;
    color: var(--darkest);
}

nav {
    background-color: var(--litebrown-navbar);
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid var(--paperBag);
    padding: 1rem 2rem;
    position: relative;

    & h1 {
        &:hover {
            cursor: pointer;
            padding: 3px;
            text-decoration: underline;
        }
    }

}

nav>* {
    margin: 0;
}

nav .navlinks {
    position: absolute;
    right: 0.9rem;
    display: flex;
    gap: 1.5rem;

    li {
        list-style: none;

        &:hover {
            padding: 5px;
            background-color: var(--darkest);
            color: var(--litebrown-navbar);
            cursor: pointer;
        }
    }
}

.content {
    padding: 2rem 16rem;
}

.mainContainer {
    margin-top: 3rem;
    background-color: var(--off2);
    height: 30rem;
    border: 2px solid var(--darkorng);
    border-radius: 1rem;
    padding: 1rem 3rem;
}

.mainContainer h2 {
    text-align: center;
    font-weight: 200;
}

.mainContainer p {
    margin: 1.2rem 4rem;
    font-size: 1rem;
}

.projCont {
    margin: 1rem 14rem 0 0;
    padding: 5px;
    background-color: var(--litebrown-navbar);
    border: 1.8px solid var(--darkorng);
    border-radius: 0.4rem;
    cursor: pointer;
}

.projCont h5 {
    font-size: 1.1rem;
}

.projCont ul {
    font-size: 1rem;
}

/*Project page*/

.mainContainerProj {
    margin-top: 1.1rem;
    background-color: var(--yellow1);
    min-height: 25rem;
    border: 1.8px solid var(--paperBag);
    border-radius: 1rem;
    padding: 2rem 3rem;
}

.mainContainerProj h2 {
    text-align: center;
    font-weight: 600;
    font-style: italic;
}

.mainContainerProj h3 {
    margin-top: 1.6rem;
    text-align: center;
    font-weight: 600;
}

.mainContainerProj p {
    margin: 1.2rem 4rem;
    font-size: 1rem;
}

.listedTodos {
    h4 {
        text-align: center;
        color: saddlebrown;
    }

    cursor: pointer;
    margin: 1rem 0rem 0 0;
    background-color: var(--lightYellow);
    border: 2px solid var(--darkorng);
    padding: 1.1rem 1.6rem;
}

.listedTodos h5 {
    font-size: 1.3rem;
}

.listedTodos ul {
    font-size: 1rem;
}


.listedTodos input,
textarea {
    all: unset;
    font-size: 1rem;
    background-color: var(--offWhite);
    border: 1.8px solid var(--darkorng);
    color: black;
    font-weight: 100;
    padding: 0.3rem 0 0.3rem 0.5rem;
    margin: 0.7rem 0;
}

.listedTodos label,
option {
    font-size: 1rem;
    font-family: "Outfit", sans-serif;
}

.listedTodos select {
    font-family: inherit;
    font-size: 1rem;
    background-color: var(--offWhite);
    border: 2.5px solid var(--darkorng);
    color: black;
    font-weight: 100;
    padding: 0.3rem 0 0.3rem 0.5rem;
    margin: 0.7rem 0;
}

.listedTodos .formBtns {
    margin-left: 70%;
    display: flex;
    justify-content: center;
    gap: 0.6rem;

    button {
        all: unset;
        font-size: 1rem;
        padding: 0.3rem;
        cursor: pointer;

        &:hover {
            background-color: var(--paperBag);
        }
    }
}

#saveEdit {
    color: green;
    border: 2.5px solid var(--darkorng);
}

#cancelEdit {
    color: darkslategray;
    border: 2.5px solid var(--darkorng);
}
